/* Drums.css */
.drum-parent {
    margin-left: 550px; 
    padding-bottom: 50px;   
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex; /* Use flexbox to align items vertically */
    flex-direction: column;
    
}

.gold-drum .drums-item {
    margin-top: 20px; /* Adjust the spacing as needed */
}


.drums-item {
  max-width: 800px; /* Adjust the maximum width as needed */
  border: 1px solid #ddd; /* Add border styling if desired */
  border-radius: 8px; /* Add border-radius for rounded corners */
  overflow: hidden; /* Ensure content doesn't overflow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth effect */
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex; /* Use flexbox to align items vertically */
  flex-direction: column; /* Stack items vertically */
  
}

.drum-image {
  width: 100%; /* Ensure the image takes up the full width of the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0;
}

.drums-details {
  padding: 10px; /* Adjust padding as needed for details */
}

.drum-description {
  font-size: 18px; /* Adjust font size for description */
  margin-top: 10px;
  margin-bottom: 10px; /* Add spacing between description and price */
  color: #333; /* Set text color to desired color */
  text-align: center;
}

.drum-price {
  font-size: 16px; /* Adjust font size for price */
  color: #555; /* Set text color to desired color */
  text-align: center;
}
