/* Footer.css */



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.support-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shop-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-left: 1.2rem; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.support-section {
  display: flex;
  align-items: center; /* Align items vertically in case they have different heights */
}



.support-links a,
.support-links a:visited {
  color: rgb(11, 11, 11);
  text-decoration: none;
  margin: 25px


}

/* Add this style to make links appear horizontally */
.support-links div {
  display: flex;
  align-items: center; /* Align items horizontally */
  padding-top: 5px;
}

/* Adjust icon styles as needed */
.FaFacebook {
  font-size: 40px;
  color: #272727;
  padding-left: 100px;

}

/* Adjust the margin for .support-links div */
.support-links div {
  display: flex;
  align-items: center; /* Align items horizontally */
  margin-left: 35px; /* Adjust the margin as needed */
}

/* Update the styles for .social-icons container */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align icons to the right */
}

.line {
  border-top: 1px solid #ccc; /* Adjust color and size as needed */
}
