.hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  
    
    
    
}
.left{
      text-align: left;
}

.hero  {
    padding: 1rem;
}

.hero h1 {
    padding: 1rem 0;
    text-align: left;
}

.hero .input-container {
    padding: 1rem 0;
}

.hero .right {
    padding: 1rem;
    
}

.hero .img-container {
    width: 100%;
    display: flex;
}

.hero img {
    max-width: 80%;
    border-radius: 10px;
    margin: auto;
    transition: transform 0.3s ease; /* Add a smooth transition effect */

    /* Set initial transform scale */
    transform: scale(1);
}

.hero img:hover {
    transform: scale(1.1); /* Scale the image slightly on hover */
}
/* 
.button-space{
  margin-top:0.3rem;
  margin-left: rem;
} */


@media screen and (max-width: 940px) {
    .hero .container {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
}
